@import "tailwindcss";

@theme {
  /* Paleta Inazuma & Electro */
  --color-inazuma-dark: #1a1625;
  --color-inazuma-purple: #4b3d8e;
  --color-inazuma-light: #9c89ff;
  --color-inazuma-gold: #d4af37;
  --color-inazuma-sakura: #fce7f3;

  /* Temática Gatos */
  --color-cat-fur: #f3f4f6;
  --color-cat-nose: #ffb6c1;

  /* Animações */
}

:root {
  background: var(--color-inazuma-dark);
  color: var(--color-cat-fur);
}